<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-wrap p-2">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 2xl:w-1/3 mb-2 p-1">
            <app-input-custom 
                [control]="userForm.get('user')"
                [idInput]="'table-user-crud-user'"
                placeholder="User"></app-input-custom>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 2xl:w-1/3 mb-2 p-1">
            <app-input-custom 
                [control]="userForm.get('email')"
                [idInput]="'table-user-crud-email'"
                placeholder="Email"></app-input-custom>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 2xl:w-1/3 mb-2 p-1">
            <app-select-custom
                [control]="userForm.get('admin')"
                [idSelect]="'table-user-crud-admin'"
                placeholder="Admin"
                [options]="optionsAdmin"></app-select-custom>
        </div>
        <div class="w-full sm:text-right p-1">
            <button type="submit" class="w-full sm:w-auto" button-custom color="primary" [disabled]="userForm.invalid">SAVE</button>
        </div>
    </div>
</form>