<div class="flex w-full mb-2">
    <div class="w-full">
        <button type="button" class="border-2 border-color-custom px-2 h-[30px]" (click)="onSetYears($event)">{{ _datepickerCustomService.getYear$() | async }}</button>
    </div>
    <div class="w-full text-right">
        <select [(ngModel)]="month" class="bg-transparent border-2 border-color-custom h-[30px]" (click)="$event.stopPropagation()" (ngModelChange)="onChangeMonth()">
            @for (item of _datepickerCustomService.getMonths$() | async; track $index) {
                <option [value]="$index">{{ item }}</option>
            }
        </select>
    </div>
</div>
