@if (tableData$ | async; as tableData) {
    <div class="flex flex-wrap px-2">
        <div class="relative w-full overflow-x-auto" scrollbar-custom>
            <table class="w-full text-sm text-left">
                <thead class="text-xs uppercase bg-color-custom text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            User
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Admin
                        </th>
                    </tr>
                </thead>
                <tbody class="text-black">
                    @for(item of tableData; track $index) {
                        <tr class="border-b border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                {{ item.user }}
                            </th>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                {{ item.email }}
                            </td>
                            <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                {{ item.admin ? 'YES' : 'NO' }}
                            </td>
                        </tr>
                    } @empty {
                        <tr class="border-b border-gray-700">
                            <th scope="row" colspan="3" class="px-6 py-4 font-medium whitespace-nowrap text-center">
                                No data
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}