<div class="flex mb-2">
    @for (week of _datepickerCustomService.getWeeks$() | async; track $index) {
        <div class="w-full text-center mx-1">
            {{ week }}
        </div>
    }
</div>
@if (_datepickerCustomService.getDatepickerData$() | async; as datepickerData) {
    @for (week of datepickerData; track $index) {
        <div class="flex mb-2">
            @for (dayItem of week; track $index) {
                <div class="w-full text-center mx-1">
                    <button 
                        type="button" 
                        class="bg-gray-400 text-white rounded-full w-[35px] h-[35px] block hover:bg-color-custom mx-auto"
                        [ngClass]="{'opacity-30': dayItem.month !== (_datepickerCustomService.getMonth$() | async), '!bg-color-custom': controlSelectedDay(dayItem)}"
                        (click)="setDate($event, dayItem)">
                        {{ dayItem.day }}
                    </button>
                </div>
            }
        </div>
    }
}
