/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(2.5);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}